body {
	background-image: url("45225.jpg");	
	background-size: auto 100vh;
	font-family: arial;
	height: 100vh;
}


.menu{
	background-color: white;
}

.menu li{
	list-style: none;
	
}

.menu ul{
	display: flex;
	justify-content: space-around;
}

a{
	color: teal;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	text-transform: uppercase;
}
.site-subtitle,
.site-title{
	color: #aa00aa;
	text-align: center;
}
.site-subtitle{
	font-style: italic;
}